/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

main {
  /* max-width: 360px;
  min-height: 379px;
  border-style: solid;
  border-color: #0b2434;
  border-width: 69px 76px; */
  background-color: #f5f5f5;
  border-radius: 10px;
  /* height: 100%; */
  /* border-left:  solid #0B2434; */
  min-height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.container button {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
}

.item {
  margin-bottom: 35px;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
